@font-face {
  font-family: Bold;
  src: url(../assets/fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: Medium;
  src: url(../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Regular;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF7EE;
    min-height: 100vh;

  }
  
  header {
    background-color: #5F1419;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000; /* Pastikan z-index agar di atas elemen lain */
    top: 0;
  }
  
  
  .img {
    max-width: 100%;
    height: auto;
    display: block;
    position: absolute;
    
  }

  
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%; 
  }
  
  .search-box input {
    padding: 5px;
    margin-right: 5px;
    background-color: #D9D9D9;
    width: 450px;
    border: none;
    border-radius: 4px;
  }
  
  .search-box button {
    padding: 5px 10px;
    background-color: #D9D9D9;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  button#search-btn::before {
    content: "";
    background-image: url('search.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    align-items: center; }
  

    .hamburger {
      width: 30px;
      height: 30px;
      background-color: #5F1419;
      position: relative;
      cursor: pointer;
    }

    .bar {
      width: 25px;
      height: 3px;
      background-color: white;
      margin-bottom: 5px;
    }

    .bar:nth-child(2) {
      margin-bottom: 0;
    }


    .menu {
      background-color: #D9D9D9;
      position: absolute;
      top: 60px; 
      right: 15px;
      padding: 15px;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .menu a {
      color: black;
      text-decoration: none;
      padding: 10px;
      font-size: 18px;
      margin: 5px;
    }

    .menu a:hover {
      color: #5F1419;
    }

.wrapper {
    width: 100%;
    margin: auto;
    position: relative;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

h2 {
    font-family: Bold;
    font-size: 50px;
    width: 400px;
}

h3 {
  font-family: Bold;
  font-size: 30px;
  margin: 5px;
  margin: 0px;
  width: 350px;
}

p {
    color :black;
    font-size: 19px;
    padding: 10px;
   text-align: justify;
   font-family: Regular;
}

.home {
  padding-left: 100px;
  margin-top: 50px;
}

#home{
  padding-top: 200px;
  color: #5F1419;
}

.button {
font-family: Bold;
background-color: #FFC174;
color: #5F1419;
text-decoration: none;
text-align: center;
  display: inline-block;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 12px;
}

.mulai {
  cursor: pointer;
}

.tentangkami {
  width: 450px;
  height: 200px;
  margin-left: 650px;
  text-align: justify;

}

#tentangkami{
  margin-top: 200px;
  padding-top: 250px;
 }

.imgtentangkami{
  float:left;
  width: 450px;
  height: 450px;
  position: absolute;
 right: 50%;
  transform: translate(-50%, -50%);
  padding-top: 200px;
}

.siapakami{
  margin-top: 300px;
  width: 600px;
  height: 200px;
  text-align: justify;
  padding-left: 100px;
  padding-top: 200px;
  margin-bottom: 50px;
}

.imgsiapakami{
  float: right;
  width: 450px;
  height: 450px;
  position: absolute;
  right: 0;
  transform: translate(0, -50%);
  padding-top: 150px;
}

.container {
  margin-top: 300px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between; 
  padding-top: 200px;
}

.gambar-kiri{
  width: 350px;
  height: 450px;
  left: 0;
}
.gambar-kanan {
  width: 450px;
  height: 400px;
  right: 0;
  margin-right: 150px;
}

footer {
  position: relative;
  background-color: #5F1419;
  padding-top: 20px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.logo-medsos {
  display: flex;
  align-items: center;
  position: absolute;
  right: 50px;
  margin-right: 70px;
}

#recipe{
width: 100%;
padding-top: 20px;
}

#recipe2{
width: 800px;
margin-left: 270px;
text-align: center;
margin-bottom: 50px;
padding-top: 0;
}

.resep{
  width: 100%;
  padding-top: 100px;
  text-align: center;
}



.next-arrow {
  position: absolute;
  right: 10px; /* Atur posisi tombol panah di sebelah kanan */
  top: 89%; /* Geser ke tengah secara vertikal */
  transform: translateY(-50%);
  background-color: #FFF7EE;
  color: #5F1419;
  border: none;
  padding: 8px;
  border-radius: 50%; /* Bentuk bulat untuk tombol */
  font-size: 20px;
  cursor: pointer;
  z-index: 10; /* Pastikan tombol panah muncul di atas konten lain */
}


.recipe-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
}

.recipe-container.hidden {
  display: none;
}

.recipe-container h2{
  font-size: 30px;
  font-family: Bold;
  align-items: flex-start;
  flex-wrap: wrap;
}

.recipe-box-img{
  padding-bottom: 10px;
  margin-top: 5px;
  margin-left: 15px;
  align-items: center;
}

.recipe-box {
  background-color: #5F1419;
  border: 1px solid #5F1419;
  padding: 20px;
  width: 200px;
  height: 370px;
  text-align: center;
  margin: 10px;
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.recipe-box:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.recipe-box h2 {
  font-size: 25px;
  width: 150px;
  text-align: center;
  font-family: Bold;
  color: #FFFFFF;
}

.recipe-box p {
  color: #BCB3B3;
  font-family: Regular;
  font-size: 15px;
padding-top: 0px;
margin: 0;
  flex-grow: 1;
  text-align: center;
}

.recipe-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 20px;
  font-size: 13px;
  text-align: center;
  border: none;
  text-decoration: none;
  border-radius: 6px;
  background-color: #D9D9D9;
  color: #5F1419;
  cursor: pointer;
}

.recipe-button:hover {
  background-color:#FFC174;
}

.recipe-box:not(:last-child){
  margin-right: 20px;
}

.menuResep {
  margin: 50px;
  padding: 20px;
  border-radius: 8px;
}

.namaMenu {
  text-align: center;
  margin-bottom: 20px;
  color: black;
  padding-top: 35px;
}

#namaresep{
  margin-left: 400px;
}
#cara, #bahan {
  color: #5F1419 ;
}

ul {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #5F1419;
  color: #FFF7EE;
  text-decoration: none;
  display:flexbox;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 12px;
}

li {
  list-style-type: square;
  margin-bottom: 5px;
  
}

ol {
  color: black ;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* .resep {
  width: 450px;
  height: 200px;
  margin: 0 auto;
  text-align: justify;
  padding-top: 70px;
}

.receipe-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.receipe-box{
  background-color: #5F1419;
  border: 1px #5F1419;
  padding: 20px;
  width: 200px;
  height: 240px;
  text-align: center;
  margin: 10px;
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba (0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.receipe-box p{
  text-align: center;
  margin-top: 10px;
}

.receipe-box h2{
  font-size: 25px;
  margin-bottom: 10px;
} */